<div class="call">
  <div class="call-box-top">
    {% for phone in site.contacts.phones %}
        <div class="call-phone"><strong>Телефон: </strong> {{ phone }} </div>
    {% endfor %}
        
    {% if site.contacts.email %}
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ site.contacts.email }}">
        {{ site.contacts.email }}
      </a>
    </div>
    {% endif %}
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ site.data.contact.contact_button_link }}" class="button">Контакты</a>
      </div>
    {% endif %}
</div>
